<h1>Eat-da-Burger</h1>

{{#each burger}}
<form class="col s12" action="/update/{{ id }}" method="post">
  <div class="row">
    {{id}}. <div class="input-field col s12">
      <input type="text" value="{{burger_name}}" name="burger" id="burger" type="text" class="validate"> <small>({{date}})</small>
      <a href="/delete/{{ id }}">delete</a>
      <button class="btn waves-effect waves-light" type="submit" name="action">Update</button>
    </div>
  </div>
</form>
{{/each}}

<form action="/" method="post">
  <textarea name="burgerdata" rows="8" cols="40"></textarea>
  <button class="btn waves-effect waves-light" type="submit" name="action">Save Note!</button>
</form>